body {background-color: #3D4E68;}
link {color: #DE9548;}
a {color: #DE9548;}
body {color: #F1C77B;}
h1, h2 {color: #DE9548;}
nav {background-color: #607D9D;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
nav a {color: #FFFFFF; font-size: 2em;}
nav a:hover {background-color: #F1C77B;}
@media only screen and (max-width: 800px) {
    nav a {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        }
    span {display: none;}
    }
#skip {
    position: absolute;
    left: -999px;
    background-color: #DE9548;
    padding: 5px;

    }
    #skip:focus {
        left: 10px}
    
